<a href="https://colab.research.google.com/github/Ishan-sharma8/Pandas/blob/main/Intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
iris=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/iris.data")
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df=iris.copy()

In [ ]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [ ]:
df.columns    #current headers

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [ ]:
print(df.shape)
print(df.dtypes)

(149, 5)
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [6]:
df.columns=['sl','sw','pl','pw','flower']
print(df.shape)
print(df.dtypes)

(149, 5)
sl        float64
sw        float64
pl        float64
pw        float64
flower     object
dtype: object